html,
body {
  /* Functionality */
  scroll-behavior: smooth;
  overflow-x: hidden; /* To stop X overflow from creating a horizontal scroll bar */
  overflow-y: hidden; /* To stop Y overflow from creating a horizontal scroll bar */

  /* Formatting */
  margin: 0;
  padding: 0;
  font: 1em/1.6 sans-serif;

  background-color: black;
}
