@import "./common.css";

/* Nav */
nav {
  height: 30px;
  width: 300px;
  padding-top: 2.5px;
  margin-left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;

  font-weight: bold;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: silver solid 3px;
  border-left: silver solid 1px;
  border-right: silver solid 1px;

  background: var(--rgba-pink-translucent);
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

nav ul li {
  width: max-content;

  list-style-type: none;
  box-sizing: border-box;
}

nav a {
  width: max-content;

  text-align: center;
  text-decoration: none;

  color: var(--text-color);
  font-size: 1rem;

  &:hover {
    text-decoration: underline;
  }
}
