/* COMMON CLASSES */
/* Drop Shadow for readability */
.drop-shadow-2px {
  filter: drop-shadow(var(--drop-shadow-color) var(--drop-shadow-displacement));
}

/* Disable pointer events on the element*/
.no-pointer-events {
  pointer-events: none;
}

/* Hide element */
.hide {
  visibility: hidden;
}

/* Show element */
.show {
  visibility: visible;
}

html,
body {
  /* Dynamic Styling */
  --text-color: white;
  color: var(--text-color);

  --bg-color: transparent;
  --element-bg-color: black;

  --drop-shadow-color: black;
  --drop-shadow-displacement: 2px 2px;

  --rgba-pink-translucent: rgba(120, 0, 120, 0.7);
}
