footer {
  width: 415px;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  background-image: url("/tim_square.webp");
  background-size: contain;

  border-radius: 20px;
}

footer p {
  font-weight: bold;
  background-color: rgba(1, 1, 1, 0.75);
  border-radius: 20px;
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
}

#clear-data {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-shadow: black 2px 2px;
  border-radius: 10px;
}
