footer {
  width: 415px;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  background-image: url("tim_square.png");
  background-size: contain;

  border-radius: 20px;
}

footer p {
  font-weight: bold;
  background-color: rgba(1, 1, 1, 0.75);
  border-radius: 20px;
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
}
