/* Nav */

/* HEADER */
header {
  --header-main-margin: 5px;
  width: 310px;
  height: 115px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  margin-top: 100px;
  margin-left: 50%;
  margin-bottom: -20px;
  transform: translateX(-50%);

  border-color: white;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-top-width: var(--header-main-margin);
  border-left-width: var(--header-main-margin);
  border-right-width: var(--header-main-margin);
  box-sizing: border-box;
}

.title-div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.title-div h1 {
  height: 50px;
  width: 250px;
  text-align: center;
  margin: 0;
  margin-bottom: -15px;
  white-space: nowrap;
}

/* Totally Original! */
.title-div .subtitle {
  text-align: center;
  white-space: nowrap;
  width: 250px;
  height: 30px;
  margin: 0;
  margin-top: 0px;
  font-size: 16px;
}

nav {
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  padding-left: var(--grid-gappage);
  gap: 1rem;
}

nav ul li {
  box-sizing: border-box;
  width: max-content;
  list-style-type: none;
}

nav a:hover {
  text-decoration: underline;
}

nav a {
  text-align: center;
  width: max-content;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
}
