/* Nav */

/* HEADER 
#header-div {
  position: fixed;
  background-color: rgba(150, 0, 150, 0.65);
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  z-index: 3;

  margin-left: 50%;
  padding-left: 20px;
  padding-right: 20px;
  transform: translateX(-50%);

  display: flex;
  flex-wrap: nowrap;
}
*/
.title-div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.title-div h1 {
  height: 50px;
  width: 250px;
  text-align: center;
  margin: 0;
  margin-bottom: -15px;
  white-space: nowrap;
}

/* Totally Original Gallery! */
.title-div .subtitle {
  text-align: center;
  white-space: nowrap;
  width: 250px;
  height: 30px;
  margin: 0;
  margin-top: 0px;
  font-size: 16px;
}

nav {
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  padding-left: var(--grid-gappage);
  gap: 1rem;
}

nav ul li {
  box-sizing: border-box;
  width: max-content;
  list-style-type: none;
}

nav a:hover {
  text-decoration: underline;
}

nav a {
  text-align: center;
  width: max-content;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
}
